<!DOCTYPE html>
<html lang="en-us" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Miniboard manager{% end %}</title>
        <link rel="icon" href="/assets/custom/img/favicon.png" type="image/png">
        <link rel="stylesheet" href="/assets/selectize/css/selectize.bootstrap2.css">
        <link rel="stylesheet" href="/assets/uikit/css/uikit-custom.css">
        <link rel="stylesheet" href="/assets/uikit/css/components/notify.gradient.min.css">
        <link rel="stylesheet" href="/assets/custom/css/uikit-fix.css">
        <link rel="stylesheet" href="/assets/custom/css/custom.css">
        <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
        <link href="/assets/uikit/css/font-awesome.min.css" rel="stylesheet">
        <style type="text/css">
        .danger-list-item {
            background-color: #710000;
        }
        .danger-list-item:hover {
            background-color: #B00000 !important;
        }
        .warning-list-item {
            background-color: #7D4206;
        }
        .warning-list-item:hover {
            background-color: #B35E09 !important;
        }
        </style>
        {% block css %}
        {% end %}
    </head>

    <body>
        <div id="full-screen-container" style="display: none"></div>
        <div id="std-container">
            <nav class="uk-navbar uk-margin-bottom">
                <a class="uk-navbar-brand uk-hidden-small {% if currentPage == 'home' %}uk-active{% end %}" href="/"><i class="uk-icon-home"></i> Miniboard - {{ip or 'localhost'}}</a>
                <ul class="uk-navbar-nav">
                    <li class="{% if currentPage == 'join' %}uk-active{% end %}"><a href="/join">Join</a></li>
                    <li class="{% if currentPage == 'manage' %}uk-active{% end %}"><a href="/manage">Manage</a></li>
                    <li class="{% if currentPage == 'saves' %}uk-active{% end %}"><a href="/saves">Saves</a></li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Miniboard</div>
                <ul class="uk-navbar-nav uk-navbar-flip uk-hidden-small">
                    <li class="uk-parent {% if currentPage == 'admin' or currentPage == 'tags' %}uk-active{% end %}" data-uk-dropdown="">
                        <a href="#!" id="system-usage">Mem: %, CPU: %</a>
                        <div style="" class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/monitor">More stats...</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>

            {% if globals().get('fullWidth', False) or locals().get('fullWidth', False) %}
                <div class="uk-container fluid uk-container-center">
            {% else %}
                <div class="uk-container uk-container-center">
            {% end %}
                    {% block content %}
                    {% end %}
                </div>
        </div>
        <div id="loading-overlay" style="display: none"><i title="Close spinner" data-uk-tooltip="{pos: 'bottom-right'}" class="uk-icon uk-icon-close" id="close-spinner"></i><div><i class="fa fa-spinner fa-spin"></i></div></div>

        <script type="text/javascript">
            window.initData = {};
            window.initData.port = "{{port}}";
            window.initData.ip = "{{ip}}";
        </script>
        <script src="/assets/jquery/jquery-2.1.1.min.js"></script>
        <script src="/assets/uikit/js/uikit.min.js"></script>
        <script src="/assets/uikit/js/components/pagination.min.js"></script>
        <script src="/assets/uikit/js/components/notify.min.js"></script>
        <script src="/assets/selectize/js/selectize.js"></script>
        <script src="/assets/handlebars.js"></script>
        <script src="/assets/custom/js/utils.js"></script>
        <script src="/assets/custom/js/wsCon.js"></script>
        {% block js %}
        {% end %}
    </body>
</html>