{% extends base.html %}
{% block css%}
<link rel="stylesheet" type="text/css" href="/assets/custom/css/home.css">
<link rel="stylesheet" type="text/css" href="/assets/custom/css/vid-snap.css">
<link rel="stylesheet" type="text/css" href="/assets/uikit/css/components/slideshow.css">
{% end %}

{% block content %}
{% end %}

{% block js %}
<script src="/assets/custom/js/home.js"></script>
<script src="/assets/custom/js/vidSnap.js"></script>
<script src="/assets/uikit/js/components/slideshow.js"></script>
<script src="/assets/uikit/js/components/slideshow-fx.js"></script>
{% end %}
